<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div> -->

      <ul class="contact-list" align="center">
        <a href="https://github.com/igrigorik/ga-beacon">
          <img src="https://ga-beacon.appspot.com/UA-74400893-1/{{ page.title }}" alt="Analytics">
        </a>&nbsp &nbsp
        <!-- [![Analytics](https://ga-beacon.appspot.com/UA-74400893-1/main-page)](https://github.com/igrigorik/ga-beacon) -->

        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        &nbsp &nbsp
        {% if site.github_username %}
          {% include icon-github.html username=site.github_username %}
        {% endif %}
&nbsp &nbsp &nbsp
        <a href="http://www.revolvermaps.com/?target=enlarge&amp;i=1z987plpbl6&amp;color=ff0000&amp;m=0"><img alt="Map" width="60" height="30" src="http://rb.revolvermaps.com/h/m/a/0/ff0000/128/0/1z987plpbl6.png" style="border:0px" ></a>
      </ul>
    </div>

  </div>

</footer>
