<div class="image-wrapper" >
    {% if page.url %}
    <a href="{{ site.baseurl }}{{ page.url }}" title="{{ include.title }}">
    {% endif %}
        <img src="{{ site.baseurl }}{{ include.img }}" alt="{{ include.alt }}"
        {% if include.width %}
          width="{{ include.width }}"
        {% endif %}
        />
    {% if page.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <p class="image-caption">{{ include.caption }}
        {% if include.imgsource %}
          <a href="{{ include.imgsource }}" target="_blank">(source)</a>
        {% endif %}
        </p>
    {% endif %}
</div>
