/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    // cOlor
    background-color: rgb(241,241,241);
}

// .site-title {
//     font-size: 36px;
//     font-weight: 300;
//     line-height: 56px;
//     letter-spacing: -1px;
//     margin-bottom: 0;
//     float: left;
//
//     &,
//     &:visited {
//         color: $grey-color-dark;
//     }
// }

.page-list {
    font-size: 20px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: -10;
    float: right;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}



/**
 * Page content
 */
// .page-content {
//     padding: $spacing-unit 0;
// }

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

// .paper-list {
//     margin-left: 0;
//     list-style: none;
//
//     > li {
//         margin-bottom: $spacing-unit / 3;
//     }
// }

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

// .post-link {
//    display: block;
//     font-size: 20px;
// }



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: 0px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

// .post-content {
//     margin-bottom: $spacing-unit;
//     h2 {
//         font-size: 32px;
//
//         @include media-query($on-laptop) {
//             font-size: 28px;
//         }
//     }
//
//     h3 {
//         font-size: 26px;
//
//         @include media-query($on-laptop) {
//             font-size: 22px;
//         }
//     }
//
//     h4 {
//         font-size: 20px;
//
//         @include media-query($on-laptop) {
//             font-size: 18px;
//         }
//     }
// }



// MINE===================================
/**
 * Paper
 */

 .paper-list {
     margin-left: 0;
     list-style: none;

// background-color: rgb(240,240,240);
     > li {
         margin-bottom:  $spacing-unit;
        //  margin-left: - $spacing-unit;
     }

    //  > hr {
    //    margin-bottom: 0;
    //    height: 0.1px;
    //  }
 }

 .paper-meta {
     font-size: $small-font-size;
     color: $grey-color;
 }

.paper-header {
    margin-bottom: $spacing-unit;
}

.paper-title {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

.paper-content {
    margin-bottom: $spacing-unit;

    h1, h2, h3, h4{
      font-weight: 200;
      letter-spacing: 0px;

      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-weight: 200;
      font-style: normal;
      color: inherit;
      text-rendering: optimizeLegibility;
      margin-top: 0;
      margin-bottom: 0.5rem;
      line-height: 1.4;
    }

    h1 {
        font-size: 25px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h2 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}

.body iframe {
  display: block;
  margin: 0 auto;
}

.paper-content iframe {
  display: block;
  margin: 0 auto;
}
