


.center {
    text-align: center;
}

.bottom {
    vertical-align: bottom;
}

ul.li.center{
  text-align: center;
}

.paper-link {
    font-size: 18px;

    @include media-query($on-laptop) {
        font-size: 16px;
    }
}


.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
        font-size: 80%;
    }
}

.video-wrapper {
    display:block;
    text-align: center;

  .video-caption {
    color: $grey-color;
    margin-top: $spacing-unit / 3;
    font-size: 80%;
  }
}


img[alt=portrait] {
  width: 150px;
  text-align: center;
}

img[alt=img-post-list] {
  height: 150px;
  text-align: center;
}

img[alt=back-home] {
  height: 17px;
//  text-align: center;
}

img[alt=paper-demo] {
  height: 215px;
//  text-align: center;
}

img[alt=manga] {
  display: block;
  // margin: 15px;
  text-align: center;
  border:1px solid #021a40;
}


img[alt=front-page] {
  max-width:400px;
  max-height: 200px;
  display: block;
  // margin: 15px;
  text-align: center;
}


img[alt=emoj] {
  height: $base-font-size;

}
